<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Hair Salon</title>
    </head>

    <body>
      <div class="container">
        <h1>Blown Away Hair Salon</h1>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <h2>Client: {{ single_client.getClientName }}</h2>
            <br>
            <p><a href="/clients/ {{ single_client.getId }}/edit">Edit This Client</a></p>
            <br>
            <form action="/clients/{{ single_client.getId }}" method="post">
              <input name="_method" type="hidden" value="delete">

              <button type="submit" class="btn btn-danger">Delete Client</button>
            </form>
          </div>

          <div class="col-xs-6">
            <h4>Stylist: {{ single_stylist.getName }}</h4>
          </div>
        <br>
        <div class="col-xs-12">
        <hr>
          <a href="/">Go Home</a>
        </div>
      </div>
    </body>
</html>
