<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Hair Salon</title>
    </head>
    <body>
      <h1>Blown Away Hair Salon</h1>

      <div class="container">
        <div class="col-sm-6">
          <p><a href="/stylists">Click here</a> to view all stylists.</p>
          <p><a href="/clients">Click here</a> to view all clients, and to add a client</p>
        </div>

        <div class="col-sm-6">
          <form action="/stylists" method="post">
            <label for="add_stylist">Enter Stylist Name to Add A Stylist</label>
            <input id="add_stylist" name="add_stylist" type="text">
            <button type="submit" class="btn btn-success">Add stylist</button>
          </form>

          {% if stylists is not empty %}
              <p> Here is a list of all of our stylists: </p>

            {% for stylist in stylists %}
              <ul><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></ul>
            {% endfor %}

          {% else %}
              <p> There are no stylists to list </p>
          {% endif %}

        </div>

      </div>

    </body>
</html>
