<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <h2>~Woah Hair Salon~</h2>
            <a href="/add_stylist"><button class="btn btn-success">Add Stylist</button></a>
            <a href="/remove_stylists"><button class="btn btn-danger">Remove All Stylist</button></a>
        </div>


    </body>
</html>
