<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Hair Salon</title>
    </head>
    <body>
      <h1>Blown Away Hair Salon</h1>

      <div class="container">
        <div class="col-sm-6">
          <p><a href="/stylists">Click here</a> to add a stylist, or view all stylists.</p>
          <p><a href="/clients">Click here</a> to add a client, or view all clients, and to add a client</p>
        </div>

      </div>

    </body>
</html>
