<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Hair Salon</title>
    </head>
    <body>
      <div class="container">
        <h1>Blown Away Hair Salon</h1>
        <hr>
          <h2>{{stylist.getName}}</h2>
          <br>
          <form action="/stylists/{{stylist.getId}}" method="post">
            <label for="add_client">Client name</label>
            <input id="add_client" type="text" name="add_client_input">
            <button type="submit" class="btn btn-success">Add</button>
          </form>
          <br>

          <h4>{{stylist.getName}}'s Clients:</h4>

          {% if clients is not empty %}
            {% for client in clients %}
              <p>{{client.getClientName}}</p>
            {% endfor %}
          {% endif %}
          <hr>
          <a href="/">Go Back</a>
      </div>

    </body>
</html>
